backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
bz2file==0.98
certifi==2015.4.28
Cython==0.22.1
falcon==0.3.0
functools32==3.2.3.post2
gensim==0.12.0
gunicorn==19.3.0
ipython==3.2.1
Jinja2==2.7.3
joblib==0.8.4
jsonschema==2.5.1
MarkupSafe==0.23
mistune==0.6
numpy==1.9.2
oauthlib==0.7.2
pandas==0.16.2
Pattern==2.6
ptyprocess==0.5
Pygments==2.0.2
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.4
PyYAML==3.11
pyzmq==14.7.0
requests==2.7.0
requests-oauthlib==0.5.0
rsvd==0.2
scikit-learn==0.16.1
scipy==0.15.1
simplejson==3.7.3
six==1.9.0
sklearn-pandas==0.0.10
smart-open==1.2.1
terminado==0.5
tornado==4.2.1
tweepy==3.3.0
ua-parser==0.3.6
uWSGI==2.0.11
